 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body {
    height: 100%;
    /* border: 2px solid blueviolet; */
}

body { 
    background-color: powderblue;
}

header, footer {
    width: 100%;
    height: 10%;
    background-color: rgb(111, 143, 143);
}


h1 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: white;
  /* border: 1px solid white*/

}

.ux {
    font-size: 30px;
    margin-left: 3px;
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;
    /* border: 1px solid rgb(133, 27, 27); */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
    /* border: 3px solid rgb(99, 213, 224); */
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100%;
    color: aliceblue;
   
    text-decoration: none;
    font-family: Verdana, sans-serif;
    transition-duration: 0.5s;

} 

nav a:hover {
    color: powderblue;
    text-decoration: underline;
    font-style: bold;
    background-color: rgba(60, 112, 112, 0.75);
}

main {

    width: 100%;
    height: 80%;
    /* border: 3px solid rgb(51, 122, 97); */
}

.main-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(66, 240, 66); */

}

.harmonia {
    height: 100%;
    width: 700px;
    /* border: 3px solid red; */
}

aside {
    height: 100%;
    width: 250px;
    /* border: 4px solid pink; */
}